<h1>All Warehouse Locations</h1>

<% @warehouses.each do |warehouse| %>
  <div class="warehouse-<%= "#{warehouse.id}" %>">
    <ul>
    <li><h3><%= warehouse.name %></h3></li>
      <p><%= warehouse.address %> <%= warehouse.city %>, <%= warehouse.state %> <%= warehouse.zip %></p>
    </ul>
    <% end %>
  </div>

